<div class="crypto-list-item ">
  <!--<app-cryptocoin coin="{{coin}}"></app-cryptocoin> -->
  <div class="rank">
    {{coin.rank}}
  </div>
  <div class="logo-32">
    <img src="https://s2.coinmarketcap.com/static/img/coins/32x32/{{coin.id}}.png" />
  </div>
  <div class="title">
    {{ coin.name}}
  </div>
  <div class="text-normal">
    <p>{{coin.quotes['USD']['price'] | currency}}</p>
  </div>
  <div *ngIf="!isPortfolio" class="text-small">
    <p>{{coin.quotes['USD']['market_cap'] | currency:'USD':'symbol':'1.0-0'}}</p>
  </div>
  <div *ngIf="!isPortfolio" class="text-small">
    <p>{{coin.quotes['USD']['volume_24h'] | currency:'USD':'symbol':'1.0-0'}}</p>
  </div>
  <div *ngIf="!isPortfolio" class="text-small">
    <p>{{coin.circulating_supply | number }}</p>
  </div>

  <div class="text-small" [style.color]="coin.quotes['USD']['percent_change_24h'] >= 0? 'green':'red'">
    <p>{{coin.quotes['USD']['percent_change_24h']
      }}%</p>
  </div>

  <div *ngIf="isPortfolio" class="form-group" style="padding-top: 14px">
    <input class="form-control" pattern="0-9." type="number" min="0" (change)="valueChanged(coin.quantity)" name="quantity"
      [(ngModel)]="coin.quantity" />
  </div>
  <div *ngIf="isPortfolio" class="input-group">
    <span class="input-group-addon">$</span>
    <input class="form-control currency" type="number" min="0" name="pricepaid" (change)="portfolioPercentChange()"
      [(ngModel)]="coin.initialPrice" />
  </div>
  <div *ngIf="isPortfolio" class="text-small">
    <p>{{coinPortfolioValue | currency:'USD':'symbol':'1.0-0'}} </p>
  </div>
  <div *ngIf="isPortfolio" class="text-small" [style.color]="coinPortfolioChange >= 0? 'green':'red'">
    <p>{{coinPortfolioChange | number: '1.0-2'}}%</p>
  </div>
  <div class="form-group text-small">
    <input class="form-check-input" type="checkbox" name="inPortfolio_cb" [(ngModel)]="inPortfolio" (change)="portfolioChange(inPortfolio)"
      checked="inPortfolio" />
  </div>
</div>