<h2>Crypto List</h2>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#list">Cryptocurrencies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#news">News Feed </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#portfolio">Portfolio {{portfolio.length}}</a>
  </li>
</ul>
<div class="tab-content">
  <div id="list" class="container tab-pane active">
    <div>
      <app-crypto-list-header></app-crypto-list-header>
    </div>
    <div *ngFor="let coin of listCoins">
      <app-cryptocoin #coinComps id="coin.id" [coin]="coin" (portfolioEmitter)="onPortfolioChange($event)"></app-cryptocoin>
      <hr />
    </div>
  </div>
  <div id="news" class="container tab-pane fade"><br>
    <h3>Latest Crypto News</h3>
    <app-news></app-news>
  </div>
  <div id="portfolio" class="container tab-pane fade"><br>
    <h3>Portfolio{{portfolio.length}}</h3>
    <app-portfolio [(portfolio)]="portfolio" (portfolioDeleted)="coinDeleted($event)" (portfolioEmitter)="onPortfolioChange($event)"></app-portfolio>

  </div>
</div>