<h2>Crypto List</h2>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#list">Cryptocurrencies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#portfolio">Portfolio</a>
  </li>
</ul>
<div class="tab-content">
  <div id="list" class="container tab-pane active">
    <div>
      <app-crypto-list-header></app-crypto-list-header>
    </div>
    <div *ngFor="let coin of listCoins">
      <app-cryptocoin [coin]="coin"></app-cryptocoin>
      <hr />
    </div>
  </div>
  <div id="portfolio" class="container tab-pane fade"><br>
    <h3>Portfolio</h3>
  </div>