<h2>Crypto List</h2>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#list">Cryptocurrencies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#portfolio">Portfolio</a>
  </li>
</ul>
<div class="tab-content">
  <div id="list" class="container tab-pane active">
    <div>
      <div class="crypto-list-item ">

        <div class="rank header-text">
          #
        </div>
        <div class="logo-32">
        </div>
        <div class="title header-text">
          Name
        </div>
        <div class="text-normal header-text">
          Symbol
        </div>
        <div class="text-normal header-text">
          Price
        </div>
        <div class="text-normal header-text">
          Market Cap
        </div>
        <div class="text-normal header-text">
          Volume (24h)
        </div>
        <div class="text-normal header-text">
          Circulating supply
        </div>
        <div class="text-normal header-text">
          Change (24h)
        </div>
        <div class="text-normal header-text">
          Portfolio
        </div>
      </div>
    </div>
    <div *ngFor="let coin of listCoins">
      <div class="crypto-list-item ">
        <div class="rank">
          {{coin.rank}}
        </div>
        <div class="logo-32">
          <img src="https://s2.coinmarketcap.com/static/img/coins/32x32/{{coin.id}}.png" />
        </div>
        <div class="title">
          {{ coin.name}}
        </div>
        <div class="text-normal">
          {{ coin.symbol }}
        </div>
        <div class="text-normal">
          <p>{{coin.quotes.USD.price | currency}}</p>
        </div>
        <div class="text-small">
          <p>{{coin.quotes.USD.market_cap | currency:'USD':'symbol':'1.0-0'}}</p>
        </div>
        <div class="text-small">
          <p>{{coin.quotes.USD.volume_24h | currency:'USD':'symbol':'1.0-0'}}</p>
        </div>
        <div class="text-small">
          <p>{{coin.circulating_supply }}</p>
        </div>
        <div class="text-small">
          <p>{{coin.quotes.USD.percent_change_24h }}%</p>
        </div>
        <div class="text-small">
          <input type="checkbox" name="isPortfolio" />
        </div>
      </div>
      <hr />
    </div>
  </div>
  <div id="portfolio" class="container tab-pane fade"><br>
    <h3>Portfolio</h3>
  </div>