<div class="crypto-list-item ">
  <div class="rank header-text">
    #
  </div>
  <div class="logo-32">
  </div>
  <div class="title header-text">
    Name
  </div>
  <div class="text-normal header-text">
    Symbol
  </div>
  <div class="text-normal header-text">
    Price
  </div>
  <div class="text-normal header-text">
    Market Cap
  </div>
  <div class="text-normal header-text">
    Volume (24h)
  </div>
  <div class="text-normal header-text">
    Circulating supply
  </div>
  <div class="text-normal header-text">
    Change (24h)
  </div>
  <div class="text-normal header-text">
    Portfolio
  </div>
</div>